body {
    margin: 0;
    font-family: Arial;
    text-align: center;
}

#bar {
    text-align:center;
    padding:10px;
    height:30px;
    background-color:black;
    color:white;
}

.bottomBar {
    display:flex;
    justify-content:center;
    height:120px;
    background-color:rgb(146, 4, 4);
    color:white;
}

.area {
    text-align:left;
    padding:10px;
    margin:5px;
    width:25%;
}
